$primaryColors: (
  "primary": #3244ad,
  "accent": #953ca5,
  "success": #2ab7a9,
  "info": #00c3e0,
  "warning": #bf7921,
  "danger": #bb2626,
  "default": #646c8a
);

$secondaryColors: (
  "white": #ffffff,
  "black": #333333
);

$amount: 25;

$colors: (
  "white":
    map-get(
      $map: $secondaryColors,
      $key: "white"
    ),
  "black":
    map-get(
      $map: $secondaryColors,
      $key: "white"
    ),
  "primary":
    map-get(
      $map: $primaryColors,
      $key: "primary"
    ),
  "primary-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "primary"
      ),
      $amount * 1.96
    ),
  "primary-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "primary"
      ),
      $amount * 1.4
    ),
  "primary-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "primary"
      ),
      $amount
    ),
  "primary-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "primary"
      ),
      $amount
    ),
  "primary-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "primary"
      ),
      $amount * 1.4
    ),
  "accent":
    map-get(
      $map: $primaryColors,
      $key: "accent"
    ),
  "accent-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "accent"
      ),
      $amount * 1.96
    ),
  "accent-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "accent"
      ),
      $amount * 1.4
    ),
  "accent-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "accent"
      ),
      $amount
    ),
  "accent-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "accent"
      ),
      $amount
    ),
  "accent-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "accent"
      ),
      $amount * 1.4
    ),
  "success":
    map-get(
      $map: $primaryColors,
      $key: "success"
    ),
  "success-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "success"
      ),
      $amount * 1.96
    ),
  "success-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "success"
      ),
      $amount * 1.4
    ),
  "success-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "success"
      ),
      $amount
    ),
  "success-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "success"
      ),
      $amount
    ),
  "success-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "success"
      ),
      $amount * 1.4
    ),
  "info":
    map-get(
      $map: $primaryColors,
      $key: "info"
    ),
  "info-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "info"
      ),
      $amount * 1.96
    ),
  "info-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "info"
      ),
      $amount * 1.4
    ),
  "info-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "info"
      ),
      $amount
    ),
  "info-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "info"
      ),
      $amount
    ),
  "info-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "info"
      ),
      $amount * 1.4
    ),
  "warning":
    map-get(
      $map: $primaryColors,
      $key: "warning"
    ),
  "warning-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "warning"
      ),
      $amount * 1.96
    ),
  "warning-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "warning"
      ),
      $amount * 1.4
    ),
  "warning-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "warning"
      ),
      $amount
    ),
  "warning-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "warning"
      ),
      $amount
    ),
  "warning-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "warning"
      ),
      $amount * 1.4
    ),
  "danger":
    map-get(
      $map: $primaryColors,
      $key: "danger"
    ),
  "danger-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "danger"
      ),
      $amount * 1.96
    ),
  "danger-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "danger"
      ),
      $amount * 1.4
    ),
  "danger-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "danger"
      ),
      $amount
    ),
  "danger-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "danger"
      ),
      $amount
    ),
  "danger-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "danger"
      ),
      $amount * 1.4
    ),
  "default":
    map-get(
      $map: $primaryColors,
      $key: "default"
    ),
  "default-bright":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "default"
      ),
      $amount * 1.96
    ),
  "default-lightest":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "default"
      ),
      $amount * 1.4
    ),
  "default-light":
    lighten(
      map-get(
        $map: $primaryColors,
        $key: "default"
      ),
      $amount
    ),
  "default-dark":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "default"
      ),
      $amount
    ),
  "default-darkest":
    darken(
      map-get(
        $map: $primaryColors,
        $key: "default"
      ),
      $amount * 1.4
    )
);

$tolerance: 67;

:root {
  --animate-all: all 0.3s ease-in-out;
  --animate-all-fastest: all 0.1s ease-in-out;
  --animate-all-fast: all 0.2s ease-in-out;
  --animate-all-slow: all 0.4s ease-in-out;
  --animate-all-slowest: all 0.6s ease-in-out;

  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@each $name, $col in $primaryColors {
  @each $weight in -bright, -lightest, -light, "", -dark, -darkest {
    $color: map-get(
      $map: $colors,
      $key: "#{$name}#{$weight}"
    );

    @if $color {
      .border-#{$name}#{$weight} {
        border-color: var(--#{$name}#{$weight});
        color: if(lightness($color) < 55, var(--#{$name}#{$weight}), var(--#{$name}));
      }

      .bg-#{$name}#{$weight} {
        background-color: var(--#{$name}#{$weight});
        color: if(lightness($color) > 55, var(--#{$name}-darkest), var(--#{$name}-bright));
      }

      .color-#{$name}#{$weight} {
        color: var(--#{$name}#{$weight});
      }
    }
  }
}

@each $name, $col in $secondaryColors {
  $color: map-get(
    $map: $colors,
    $key: "#{$name}"
  );

  @if $color {
    .border-#{$name} {
      border-color: var(--#{$name});
    }

    .bg-#{$name} {
      background-color: var(--#{$name});
    }

    .color-#{$name} {
      color: var(--#{$name});
    }
  }
}

.has-error {
  border-color: var(--danger);
  color: var(--danger);
}

.has-success {
  border-color: var(--success);
  color: var(--success);
}

.has-warning {
  border-color: var(--warning);
  color: var(--warning);
}

.has-info {
  border-color: var(--info);
  color: var(--info);
}
